<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Moody</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
  {{!-- DayJS Links --}}
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js"
    integrity="sha256-iu/zLUB+QgISXBLCW/mcDi/rnf4m4uEDO0wauy76x7U=" crossorigin="anonymous"></script>
</head>

<body>
  {{!-- <nav>
    <div class="nav-wrapper">
      <div><a href="#" class="brand-logo">Moody</a></div>
      <ul>
        {{#if logged_in}}
        <li><a href="/">Dashboard</a></li>
        <li id="logout"><a href="/">Logout</a></li>
        {{/if}}
      </ul>
    </div>
    </div>
  </nav> --}}
    <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Moody</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if logged_in}}
        <li><a href="/">Dashboard</a></li>
        <li id="logout"><a href="/">Logout</a></li>
        {{/if}}
      </ul>
    </div>
    </nav>

     <ul class="sidenav" id="mobile-demo">
      {{#if logged_in}}
    <li><a href="/">Dashboard</a></li>
    <li id="logout"><a href="/">Logout</a></li>
    {{/if}}
  </ul>

  <main class="container">
    {{#if logged_in}}
    <div class="date-container"><p class="date"></p></div>
    {{/if}}
    {{{body}}}
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  <script src="/js/day.js"></script>
  {{/if}}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
  </script>
</body>
</html>