<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Journal Entries</title>
  <!-- Include CSS stylesheets here if necessary -->
  <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
  <header>
    <h1>Welcome to Moody!</h1>
    <!-- Add any other header content or navigation here -->
  </header>

  <main>
    <!-- Add your homepage content here -->
    <div class="container">
      <h2>Daily Content</h2>
      
   
      
    </div>
  </main>

  <footer>
    <!-- Add footer content here -->
    <p>&copy; 2023 Moody. All rights reserved. Created by Mia Reid, Jesse Elkins, Sabrina Lopez, Adam Brannon, and Kayla Nichols</p>
  </footer>

  <!-- Include JavaScript files here -->
  <script src="../public/js/main.js"></script>
</body>
</html>
