<div class="row">
  <div class="col s12">
    <h2>Dashboard</h2>
  </div>
</div>

<div class="row mobile">
  <div class="col s12 m4 13 center-align" id="previous-journal">
    <h3>Previous Entries</h3>
    <div class="list-prevjournals"></div>
  </div>
  <div class="col s12 m8 19 back center-align dashboard">
    <h1>Welcome, {{name}}!</h1>
    <h2 id="random"></h2>
    <a class="waves-effect waves-light btn" href="/newjournal">New Entry</a>
  </div>
</div>

<script src="/js/prevjournals.js"></script>
<script src="/js/quote.js"></script>