<div class="previous-journal">

  <h3>Previous Entries</h3>
  <div class="list-prevjournals"></div>

</div>
<div class="dashboard">

  <h2>Welcome, {{name}}!</h2>

  <p id="random"></p>

  <a href="/newjournal"><button>New Entry</button></a>

</div>

{{!-- <script src="../public/js/quote.js"></script> --}}
<script src="/js/prevjournals.js"></script>
<script src="/js/quote.js"></script>