<div class="previous-journal">

  <h3>Previous Entries</h3>
  <div id="list-prevjournals"></div>

</div>
<div class="dashboard">

  <h2>Welcome, {{name}}!</h2>

  <div class="insp-quote"></div>

  <a href="/newjournal"><button>New Entry</button></a>

</div>

<script src="../public/js/quote.js"></script>
<script src="../public/js/journal.js"></script>