<div class="previous-journal">

  <h3>Previous Entries</h3>
  <div id="list-prevjournals"><ul></ul></div>

</div>
<div class="dashboard">

  <h2>Welcome, {{name}}!</h2>

  <p id="random"></p>

  <a href="/newjournal"><button>New Entry</button></a>

</div>

{{!-- <script src="../public/js/quote.js"></script> --}}
<script src="../public/js/journal.js" type="application/javascript"></script>