<header>
  <nav class="navbar-fixed">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Welcome to Moody!</a>
      <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <!-- header content or navigation here -->
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-nav">
    <!-- other header content or navigation here -->
  </ul>
</header>

<main>
  <div class="container">
    <h2>Daily Content</h2>
    <!-- homepage content here -->
  </div>
</main>

<footer class="page-footer">
  <!-- footer content here -->
  <div class="container">
    <p>&copy; 2023 Moody. All rights reserved.</p>
    <p>Created by Mia Reid, Jesse Elkins, Sabrina Lopez, Adam Brannon, and Kayla Nichols</p>
  </div>
</footer>

<!-- JavaScript files here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src=""></script>
