<div class="container">
  <h2>Dashboard</h2>
    <!-- homepage content here -->
  </div>


<footer class="page-footer">
  <!-- footer content here -->
  <div class="container">
    <p>&copy; 2023 Moody. All rights reserved.</p>
    <p>Created by Mia Reid, Jesse Elkins, Sabrina Lopez, Adam Brannon, and Kayla Nichols</p>
  </div>
</footer>

<!-- JavaScript files here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src=""></script>
