<div class="row">
  <div class="dashboard col s12">
    <h2>Dashboard</h2>
  </div>
</div>

<div class="row mobile">
  <div class="col s12 m4 13" id="previous-journal">
    <h3>Previous Entries</h3>
    <div class="list-prevjournals"></div>
  </div>
  <div class="col s12 m8 19 back">
    <h3>Welcome, {{name}}!</h3>
    <p id="random"></p>
    <a class="waves-effect waves-light btn" href="/newjournal">New Entry</a>
  </div>
</div>

<script src="/js/prevjournals.js"></script>
<script src="/js/quote.js"></script>