
  <div class="row login">
    <div class="col-md-6">
      <h2>Login</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum facere odit, in debitis, molestiae culpa maxime commodi quam saepe nobis vitae illo quia reiciendis soluta nihil ducimus quae quisquam magni dignissimos! Dolorum enim sequi hic animi in debitis, repellendus provident modi veritatis dolores officiis sint libero dicta nisi distinctio ipsam quas impedit aperiam repudiandae maxime natus nostrum magnam! Animi vel consectetur voluptatibus laboriosam harum totam ullam tempore maxime. Magni nobis labore nisi ex nulla recusandae eveniet quod corrupti culpa harum!</p>

      <form class="form login-form">
        <div class="form-group">
          <input placeholder="Email" class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <input placeholder="Password" class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
        <div class="form-group lBtn">
          <button class="btn btn-primary"><a href="/signup">Signup</a></button>
        </div>
      </form>
    </div>
  </div>

  <!-- Include JavaScript files here -->
  <script src="/js/login.js"></script>

