<div class="row signup">
  <div class="col s12 m6">
    <h2>Signup</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo reiciendis dolore error sed quae illum nulla harum, corporis, ratione incidunt consequuntur perspiciatis sequi facere nisi eaque odio, quibusdam amet voluptatum cum. Eveniet adipisci quibusdam non molestias dolore excepturi id, libero doloribus qui, aspernatur natus tempore deleniti quidem consectetur harum eos.</p>

    <form class="signup-form">
      <div class="input-field">
        <input placeholder="Username" id="name-signup" type="text" class="validate">
        <label for="name-signup">Username</label>
      </div>
      <div class="input-field">
        <input placeholder="Email" id="email-signup" type="text" class="validate">
        <label for="email-signup">Email</label>
      </div>
      <div class="input-field">
        <input placeholder="Password" id="password-signup" type="password" class="validate">
        <label for="password-signup">Password</label>
      </div>
      <div class="form-group suBtn">
        <button class="btn waves-effect waves-light" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<!-- Include JavaScript files here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src=""></script>
